@import 'bulma/css/bulma.css';

html,
body,
#root {
  height: 100%;
}

.app {
  position: relative;
  display: block;
  padding-top: 10px;
  background: hsl(0, 0%, 96%);
  height: 100%;
}

.todo-wrapper {
  width: 520px;
  margin: 10vh auto 0;
}
